@page "/ProductCard/{Product}"

<RadzenCard Style="margin-bottom: 30px">
    <style>
        form .row {
            margin-bottom: 16px;
        }
    </style>
    <RadzenTemplateForm Data="@Product">
        @if (Product.Id == 0)
        {
            <h1>Create Product</h1>
            <FormDatas Product="Product" />
        }
        else
        {
            <h1>Edit Product</h1>
            <FormDatas Product="Product" />
        }
    </RadzenTemplateForm>

</RadzenCard>


@code
{
    [Parameter]
    public Product Product { get; set; }

}
