@page "/Selected/Products"
<div class="modal" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3>CartProducts</h3>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success" @onclick="OnKeepBuying"> Keep buying</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success"> Purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public List<Product> SelectedProducts { get; set; }
    [Parameter]
    public EventCallback OnKeepBuying { get; set; }

}
