<div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Product.Nombre</h4>
            </div>
            <div class="modal-body">
                <p>@Product.Descripcion</p>
                <p>@Product.Precio.PrecioVenta.ToString() $</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

@code 
{
    [Parameter]
    public Product Product { get; set; }
}
